@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

/* eskiden tailwind config dosyasında yaptığımız özelleştirmeleri artık @theme etiketi içerisinde yapıyoruz */
@theme {
  --font-poppins: "Poppins", "sans-serif";
  --font-play: "Playwrite IN", "sans-serif";
  --color-darkgray: #242424;
}

/* temel elementleri stillendirme */
@layer base {
  body {
    @apply bg-darkgray text-white min-h-screen font-poppins;
  }
}

/* kendi class'larımı tanıma */
@layer components {
  .wrapper {
    @apply h-screen w-full grid place-items-center;
  }

  .box {
    @apply bg-white text-darkgray p-[50px_60px] rounded-[10px] w-[80vw] max-w-[500px];
  }

  .btn {
    @apply bg-black p-2 px-4 text-white text-sm rounded-md transition hover:bg-black/80;
  }
}
